h1 {
    font-size: 40px;
    color: white;
    background-color: darkred;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

h4 {
    font-size: 20px;
    color: white;
    background-color: rgb(80, 70, 70);
    border-style: solid;
    border-color: red;
    border-width: 2px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

/* Menu Horizontal */

#menu ul {
    padding: 10px;
    margin: 0;
    background-color: #2b1010;
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 10px 30px;
    text-decoration: none;
    background-color: #ededed;
    /* Faz o link se comportar como caixinha, mas fica na mesma linha */
    display: inline-block;
    border-bottom: 3px solid #ededed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    margin: 0 50px;
}

#menu ul li a:hover {
    background-color: #b5d45d;
    color: #2b19e2;
    border-bottom: 3px solid #EA0000;
}

/* menu vertical */

/* selecionar o ul que estiver dentro do elemento id menuv */
#menuv ul {
    /* remove a bolinhas */
    list-style-type: none;
    /* zera a margem esquerda */
    margin-left: 0;
    padding: 20px 50px;
    width: 150px;
    background-color: #2b1010;
}


/* seleciona os links <a> dentro de cada<li> daquele <ul> do menuv */
#menuv ul li a{
    /* block deixa os itens empilhados verticalmente e toda a linha clicavel */
    display: block;
    padding: 10px 40px;
    background-color: #ededed;
    color: #333;
    text-decoration: none;
    text-align: center ;
    border-bottom: 3px solid #ededed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    margin: 2px 0px;
}

#menuv ul li a:hover{
    background-color: #b5d45d;
    color: #2d19e2;
    /* bottom é embaixo porra! */
    border-bottom: 3px solid #EA0000;
}